body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-artifika: Artifika;
  --font-athiti: Athiti;
  --font-inter: Inter;
  --font-khula: Khula;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-51xl: 70px;
  --font-size-26xl: 45px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-silver-100: #c7cab2;
  --color-silver-200: #c2bdbd;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-white: #fff;
  --color-royalblue: #266efa;
  --color-cornflowerblue: #416cc0;
  --color-darkgray-100: #bcb0b0;
  --color-darkgray-200: #b0acac;
  --color-whitesmoke: #f0eeee;
  --color-darkslategray: #383333;
  --color-dimgray: #575353;
  --color-rosybrown: #a48e8e;
  --color-gray-100: #908383;
  --color-gray-200: #7c7676;

  /* border radiuses */
  --br-13xl: 32px;
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-sm: 14px;
  --br-mini: 15px;
}
