.home-page-child {
  position: absolute;
  width: 100.83%;
  top: 194.5px;
  right: -0.81%;
  left: -0.02%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.gadget-world {
  position: absolute;
  top: 67px;
  left: calc(50% - 320.96px);
  font-size: var(--font-size-31xl);
  font-family: var(--font-artifika);
  display: inline-block;
  width: 684.81px;
  height: 55px;
  cursor: pointer;
}
.home-page-item {
  position: absolute;
  width: calc(100% - 331.04px);
  top: 272px;
  right: 240.48px;
  left: 90.56px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 224px;
  mix-blend-mode: exclusion;
}
.great-offers,
.popular-gadgets {
  position: absolute;
  top: 212px;
  left: 113px;
  display: inline-block;
  width: 225px;
  height: 52px;
}
.popular-gadgets {
  top: 511px;
  left: 117.26px;
  width: 284.23px;
  height: 157px;
}
.group-child,
.login {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.group-child {
  top: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-gainsboro);
  width: 127.26px;
  height: 32px;
}
.login {
  top: 6px;
  display: inline-block;
  width: 93.39px;
  height: 19px;
}
.rectangle-parent,
.sign-up {
  position: absolute;
  top: 0;
  right: 496.71px;
  width: 127.26px;
  height: 32px;
}
.sign-up {
  top: 5px;
  right: 18.47px;
  display: inline-block;
  width: 91.34px;
  height: 17px;
}
.group-inner,
.rectangle-group {
  position: absolute;
  top: 0;
  right: 356.11px;
  width: 127.26px;
  height: 32px;
}
.group-inner {
  right: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-gainsboro);
  width: 150.86px;
  cursor: pointer;
}
.seller-login {
  position: absolute;
  top: 9px;
  right: 19.07px;
  display: inline-block;
  width: 113.58px;
  height: 23px;
}
.rectangle-container,
.rectangle-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 150.86px;
  height: 32px;
}
.rectangle-div {
  border-radius: var(--br-13xl);
  background-color: var(--color-gainsboro);
  width: 178.57px;
}
.become-a-seller {
  position: absolute;
  top: 6px;
  right: 22.58px;
  display: inline-block;
  width: 134.44px;
  height: 23px;
  cursor: pointer;
}
.group-div,
.group-parent {
  position: absolute;
  top: 0;
  right: 164.2px;
  width: 178.57px;
  height: 32px;
}
.group-parent {
  top: 149px;
  right: 39px;
  width: 623.97px;
  font-size: var(--font-size-base);
  font-family: var(--font-artifika);
}
.group-child1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  height: 202.91px;
}
.connect-with-us,
.facebook,
.twitter {
  position: absolute;
  width: 13.68%;
  bottom: 49.71px;
  left: 4.72%;
  display: inline-block;
  height: 31.45px;
}
.connect-with-us,
.facebook {
  bottom: 0;
}
.connect-with-us {
  width: 18.68%;
  bottom: 145.08px;
  left: 3.19%;
  font-size: var(--font-size-11xl);
  height: 57.83px;
}
.get-to-know,
.instagram {
  position: absolute;
  width: 13.68%;
  bottom: 99.43px;
  left: 4.72%;
  display: inline-block;
  height: 31.45px;
}
.get-to-know {
  width: 19.72%;
  bottom: 158.27px;
  left: 33.68%;
  font-size: var(--font-size-11xl);
  height: 44.64px;
}
.about-us {
  width: 14.03%;
  bottom: 98.41px;
  left: 33.68%;
  height: 30.44px;
  cursor: pointer;
}
.about-us,
.faq,
.help,
.payments {
  position: absolute;
  display: inline-block;
}
.help {
  width: 15%;
  bottom: 158.27px;
  left: 63.4%;
  font-size: var(--font-size-11xl);
  height: 50.73px;
}
.faq,
.payments {
  width: 9.72%;
  bottom: 95.37px;
  left: 64.72%;
  height: 38.55px;
}
.faq {
  width: 7.85%;
  bottom: 60.87px;
  left: 65.07%;
  height: 26.38px;
}
.rectangle-parent1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 209px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.group-child2,
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 433px;
  height: 599px;
}
.group-child3 {
  background-color: var(--color-dimgray-100);
  height: 429px;
}
.description,
.price-xxxxxxx {
  position: absolute;
  top: 526px;
  left: 89px;
  display: inline-block;
  width: 255px;
  height: 51px;
}
.description {
  top: 464px;
  left: 21px;
  width: 383px;
  height: 45px;
}
.group-child4,
.group-child5 {
  position: absolute;
  top: 0;
  left: 940px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 433px;
  height: 599px;
}
.group-child5 {
  background-color: var(--color-dimgray-100);
  height: 429px;
}
.description1,
.price-xxxxxxx1 {
  position: absolute;
  top: 526px;
  left: 1029px;
  display: inline-block;
  width: 255px;
  height: 51px;
}
.description1 {
  top: 464px;
  left: 961px;
  width: 383px;
  height: 45px;
}
.group-child6,
.group-child7 {
  position: absolute;
  top: 0;
  left: 477px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 433px;
  height: 599px;
}
.group-child7 {
  background-color: var(--color-dimgray-100);
  height: 429px;
}
.description2,
.price-xxxxxxx2 {
  position: absolute;
  top: 526px;
  left: 566px;
  display: inline-block;
  width: 255px;
  height: 51px;
}
.description2 {
  top: 464px;
  left: 498px;
  width: 383px;
  height: 45px;
}
.group-child8,
.group-child9 {
  position: absolute;
  top: 0;
  left: 1403px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 433px;
  height: 599px;
}
.group-child9 {
  background-color: var(--color-dimgray-100);
  height: 429px;
}
.description3,
.price-xxxxxxx3 {
  position: absolute;
  top: 526px;
  left: 1492px;
  display: inline-block;
  width: 255px;
  height: 51px;
}
.description3 {
  top: 464px;
  left: 1424px;
  width: 383px;
  height: 45px;
}
.rectangle-parent2,
.rectangle-parent3 {
  position: absolute;
  top: 592px;
  left: 91px;
  width: 1836px;
  height: 599px;
}
.rectangle-parent3 {
  top: 1264px;
}
.home-page {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 2357px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.group-child,
.group-inner,
.rectangle-div{
  border:none;
  width:80%;
  top:0px;
  cursor: pointer;
}
.rectangle-div{
  left:10%;
}
.group-inner{
  left:5%;
}