.profile-page-child {
  position: absolute;
  width: 100.06%;
  top: 183.5px;
  right: -0.03%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.group-child137 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 381px;
  height: 595px;
}
.group-child138 {
  position: absolute;
  top: 468px;
  left: 31px;
  border-radius: var(--br-mini);
  width: 293px;
  cursor: pointer;
}
.group-child138,
.group-child139,
.group-child140 {
  background-color: var(--color-silver-200);
  height: 65px;
}
.group-child139 {
  position: absolute;
  top: 45px;
  left: 31px;
  border-radius: var(--br-mini);
  width: 293px;
}
.group-child140 {
  top: 355px;
}
.group-child140,
.group-child141,
.group-child142 {
  position: absolute;
  left: 31px;
  border-radius: var(--br-mini);
  width: 293px;
}
.group-child141 {
  top: 247px;
  background-color: var(--color-silver-200);
  height: 72px;
  cursor: pointer;
}
.group-child142 {
  top: 146px;
  background-color: var(--color-dimgray);
  height: 65px;
}
.cart6,
.dashboard3,
.faqs5,
.logout6,
.my-orders5 {
  position: absolute;
  top: 45px;
  left: 102px;
  display: inline-block;
  width: 204px;
  height: 18px;
}
.cart6,
.faqs5,
.logout6,
.my-orders5 {
  top: 158px;
  left: 100px;
  width: 206px;
  height: 41px;
}
.cart6,
.faqs5,
.logout6 {
  top: 259px;
  width: 151px;
  height: 37px;
}
.faqs5,
.logout6 {
  top: 367px;
  left: 106px;
  width: 139px;
  height: 36px;
}
.logout6 {
  top: 475px;
  width: 98px;
  height: 37px;
}
.gadget-world13,
.vector-parent4 {
  position: absolute;
  top: 272px;
  left: 21px;
  width: 381px;
  height: 595px;
}
.gadget-world13 {
  top: 50px;
  left: 160px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  font-family: var(--font-artifika);
  display: inline-block;
  width: 249px;
  height: 55px;
}
.instance-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke);
}
.rectangle-wrapper5 {
  position: absolute;
  width: 98.48%;
  top: 0;
  right: 1.52%;
  left: 0;
  height: 53px;
  cursor: pointer;
}
.what-are-you5 {
  position: absolute;
  width: 79.26%;
  top: 0px;
  left: 7.84%;
  display: inline-block;
  height: 48px;
  padding-left: 20px ;
  font-size: 30px;
  border:none;
  border-radius:  var(--br-sm) 0 0 var(--br-sm) ;
}
.group-child143 {
  position: absolute;
  width: 8.15%;
  top: 0;
  right: 0;
  left: 90.85%;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  background-color: var(--color-royalblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  height: 48px;
}
.icon-magnifying-glass4 {
  position: absolute;
  width: 5.57%;
  top: 2.41px;
  right: 2.05%;
  left: 92.38%;
  max-width: 100%;
  overflow: hidden;
  height: 40.03px;
  cursor: pointer;
}
.instance-parent3 {
  position: absolute;
  width: 45.56%;
  top: 45px;
  right: 20.56%;
  left: 33.89%;
  height: 53px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-200);
  font-family: var(--font-inter);
}
.group-child144,
.group-child145,
.group-child146,
.group-child147 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 202px;
  cursor: pointer;
}
.group-child145,
.group-child146,
.group-child147 {
  top: 245px;
}
.group-child146,
.group-child147 {
  top: 490px;
}
.group-child147 {
  top: 735px;
}
.rectangle-parent26 {
  position: absolute;
  width: 91.44%;
  top: 28px;
  right: 4.28%;
  left: 4.28%;
  height: 937px;
}
.profile-page,
.profile-page-inner {
  background-color: var(--color-silver-100);
}
.profile-page-inner {
  position: absolute;
  width: 65.23%;
  top: 250px;
  right: 6.25%;
  left: 28.52%;
  height: 609px;
  overflow-y: auto;
}
.profile-page {
  position: relative;
  width: 100%;
  height: 1011px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.group-child138,
.group-child140,
.group-child139,
.group-child141,
.group-child142{
  left: 10%;
  cursor: pointer;
  font-size: 25px;
  border: none;
}