.seller-profile-page-child {
  position: absolute;
  width: 100.06%;
  top: 183.5px;
  right: -0.03%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.group-child {
  position: absolute;
  top: calc(50% - 292px);
  left: 0;
  border-radius: var(--br-3xs);
  width: 407.46px;
  height: 584px;
}
.group-inner,
.group-item {
  background-color: var(--color-silver-200);
  height: 65px;
}
.group-item {
  position: absolute;
  top: calc(50% + 176px);
  left: 33.15px;
  font-size: 30px;
  border: none;
  font-family: var(--font-athiti);
  border-radius: var(--br-mini);
  width: 313.35px;
  cursor: pointer;
}
.group-inner {
  top: calc(50% + 63px);
}
.group-child1,
.group-inner,
.rectangle-div {
  position: absolute;
  font-size: 30px;
  border: none;
  font-family: var(--font-athiti);
  left: 33.15px;
  border-radius: var(--br-mini);
  width: 313.35px;
}
.rectangle-div {
  top: calc(50% - 45px);
  background-color: var(--color-silver-200);
  height: 72px;
  cursor: pointer;
}
.group-child1 {
  top: calc(50% - 146px);
  background-color: var(--color-dimgray);
  height: 65px;
}
.add-product,
.faqs,
.logout,
.my-orders {
  position: absolute;
  top: calc(50% - 134px);
  left: 106.94px;
  display: inline-block;
  width: 220.31px;
  height: 41px;
}
.add-product,
.faqs,
.logout {
  top: calc(50% - 33px);
  left: 103.74px;
  width: 201.06px;
  height: 37px;
}
.faqs,
.logout {
  top: calc(50% + 75px);
  left: 113.36px;
  width: 148.65px;
  height: 36px;
}
.logout {
  top: calc(50% + 183px);
  width: 104.81px;
  height: 37px;
}
.vector-parent {
  position: absolute;
  top: calc(50% - 250.5px);
  left: 22.46px;
  width: 407.46px;
  height: 584px;
}
.gadget-world {
  position: absolute;
  top: 53px;
  left: calc(50% - 323px);
  font-size: var(--font-size-51xl);
  font-family: var(--font-artifika);
  display: inline-block;
  width: 645px;
  height: 87px;
}
.group-child2,
.group-child3,
.group-child4 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 232.52px;
  cursor: pointer;
}
.group-child3,
.group-child4 {
  top: 267.06px;
}
.group-child4 {
  top: 534.12px;
}
.rectangle-parent {
  position: absolute;
  width: 91.44%;
  top: 36.84px;
  right: 5.5%;
  left: 3.06%;
  height: 766.64px;
}
.seller-profile-page-inner {
  position: absolute;
  height: 42.22%;
  width: 61.56%;
  top: 28.47%;
  right: 7.39%;
  bottom: 29.31%;
  left: 31.04%;
  background-color: var(--color-silver-100);
  overflow-y: auto;
}
.seller-profile-page {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 945px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
