.signup-page-child {
  position: absolute;
  width: 100.07%;
  top: 289.5px;
  right: -0.03%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.gadget-world15 {
  position: absolute;
  top: 115px;
  left: calc(50% - 399px);
  display: inline-block;
  width: 645px;
  height: 87px;
  cursor: pointer;
}
.group-child158 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  height: 1077px;
}
.create-account2 {
  position: absolute;
  width: 37.03%;
  bottom: 984px;
  left: 10.17%;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  display: inline-block;
  height: 62px;
}
.group-child159 {
  position: absolute;
  font-family: var(--font-artifika);
  padding-left: 20px;
  border: none;
  font-size: 30px;
  width: 47.75%;
  right: 43.33%;
  bottom: 846px;
  left: 8.92%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 81px;
}
.user-name2 {
  position: absolute;
  width: 23.99%;
  bottom: 886px;
  left: 11.02%;
  display: inline-block;
  height: 32px;
}
.group-child160,
.group-child161 {
  position: absolute;
  width: 47.59%;
  right: 43.32%;
  padding-left: 20px;
  font-size: 30px;
  font-family: var(--font-artifika);
  border: none;
  bottom: 732px;
  left: 9.08%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 81px;
}
.group-child161 {
  bottom: 600px;
}
.address1,
.email1 {
  position: absolute;
  width: 25.23%;
  bottom: 747px;
  left: 10.95%;
  display: inline-block;
  height: 48px;
}
.address1 {
  width: 15.45%;
  bottom: 621px;
  left: 10.79%;
  height: 35px;
}
.group-child162 {
  position: absolute;
  width: 44.72%;
  padding-left: 20px;
  font-size: 30px;
  font-family: var(--font-artifika);
  color: white;
  cursor: pointer;
  text-align: center;
  right: 46.35%;
  bottom: 39px;
  border: none;
  left: 8.93%;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  height: 85px;
}
.create-account3 {
  position: absolute;
  width: 26.09%;
  bottom: 60px;
  left: 21.97%;
  color: var(--color-white);
  display: inline-block;
  height: 40px;
}
.group-child163 {
  position: absolute;
  width: 47.59%;
  right: 43.32%;
  border: none;
  bottom: 332px;
  font-family: var(--font-artifika);
  padding-left: 20px;
  font-size: 30px;
  left: 9.08%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 81px;
}
.password2 {
  position: absolute;
  width: 27.17%;
  bottom: 345px;
  left: 11.02%;
  display: inline-block;
  height: 45px;
}
.group-child164 {
  position: absolute;
  font-family: var(--font-artifika);
  width: 47.75%;
  right: 43.32%;
  padding-left: 20px;
  font-size: 30px;
  border: none;
  bottom: 468px;
  left: 8.93%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 81px;
}
.phone-number2 {
  position: absolute;
  width: 27.17%;
  bottom: 481px;
  left: 10.87%;
  display: inline-block;
  height: 45px;
}
.group-child165 {
  position: absolute;
  width: 47.75%;
  right: 43.32%;
  font-family: var(--font-artifika);
  border: none;
  bottom: 203px;
  padding-left: 20px;
  font-size: 30px;
  left: 8.93%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 81px;
}
.confirm-password1 {
  position: absolute;
  width: 27.17%;
  bottom: 216px;
  left: 10.87%;
  display: inline-block;
  height: 45px;
}
.rectangle-parent27 {
  position: absolute;
  width: 95.69%;
  right: 2.45%;
  bottom: -413px;
  left: 1.86%;
  height: 1077px;
}
.signup-page-inner {
  position: absolute;
  width: 92.14%;
  top: 311px;
  right: 4.57%;
  left: 3.29%;
  height: 678px;
  overflow-y: auto;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray);
}
.signup-page {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-artifika);
}
