<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./cart.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Artifika:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Khula:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="cart">
      <div class="cart-child"></div>
      <div class="vector-parent">
        <img class="rectangle-icon" alt="" src="./public/rectangle-46.svg" />
        <button class="group-child10">FAQ'S</button>
        <button class="group-child11" id="cart">Cart</button>
        <button class="group-child12" id="rectangle3">My Orders</button>
        <!-- <div class="my-orders">My Orders</div> -->
        <!-- <div class="cart1">Cart</div> -->
        <!-- <div class="faqs">FAQ’s</div> -->
        <button class="group-child13" id="rectangle4">LogOut</button>
        <!-- <div class="logout">Logout</div> -->
        <button class="group-child14" id="dash6">Dashboard</button>
        <!-- <div class="dashboard">Dashboard</div> -->
      </div>
      <div class="gadget-world1" id="gw1"><b>Gadget World</b></div>
      <div class="instance-parent">
        <div class="rectangle-wrapper" id="rectangleContainer">
          <!-- <div class="instance-child"></div> -->
        </div>
        <input class="what-are-you" type="text" placeholder="Search">
        <div class="group-child15"></div>
        <img
          class="icon-magnifying-glass"
          alt=""
          src="./public/-icon-magnifying-glass.svg"
          id="iconMagnifyingGlass"
        />
      </div>
      <div class="group-container">
        <div class="rectangle-parent3">
          <div class="group-child16"></div>
          <button class="group-child17" id="rectangle9"><b>Place Order</b></button>
          <!-- <div class="place-order">Place Order</div> -->
          <img class="group-child18" alt="" src="./public/rectangle-56.svg" />
        </div>
        <div class="group-wrapper">
          <div class="rectangle-parent4">
            <div class="group-child19" id="rectangle11"></div>
            <div class="group-child20" id="rectangle12"></div>
            <div class="group-child21" id="rectangle13"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var rectangle3 = document.getElementById("rectangle3");
      if (rectangle3) {
        rectangle3.addEventListener("click", function (e) {
          window.location.href = "./profile-page.html";
        });
      }
      
      var rectangle4 = document.getElementById("rectangle4");
      if (rectangle4) {
        rectangle4.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var rectangleContainer = document.getElementById("rectangleContainer");
      if (rectangleContainer) {
        rectangleContainer.addEventListener("click", function (e) {
          window.location.href = "./search-result-page.html";
        });
      }
      
      var iconMagnifyingGlass = document.getElementById("iconMagnifyingGlass");
      if (iconMagnifyingGlass) {
        iconMagnifyingGlass.addEventListener("click", function (e) {
          window.location.href = "./search-result-page.html";
        });
      }
      
      var rectangle9 = document.getElementById("rectangle9");
      if (rectangle9) {
        rectangle9.addEventListener("click", function (e) {
          window.location.href = "./conformation-page.html";
        });
      }
      
      var rectangle11 = document.getElementById("rectangle11");
      if (rectangle11) {
        rectangle11.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var rectangle12 = document.getElementById("rectangle12");
      if (rectangle12) {
        rectangle12.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var rectangle13 = document.getElementById("rectangle13");
      if (rectangle13) {
        rectangle13.addEventListener("click", function (e) {

          window.location.href = "./product-page.html";
        });
      }
      var gw1 = document.getElementById("gw1");
      if (gw1){
        gw1.addEventListener("click", function (e){
          window.location.href = "./dashboard.html"
        })
      }
      var cart = document.getElementById("cart");
      if (cart){
        cart.addEventListener("click", function (e){
          window.location.href = "./cart.html"
        })
      }
      var dash6 = document.getElementById("dash6");
      if (dash6){
        dash6.addEventListener("click", function (e){
          window.location.href = "./dashboard.html"
        })
      }
      </script>
  </body>
</html>
