<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Artifika:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Khula:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="dashboard">
      <div class="dashboard-child"></div>
      <div class="gadget-world1" id="gw5"><b>Gadget World</b></div>
      <div class="text"></div>
      <div class="rectangle-parent3">
        <div class="group-child10"></div>
        <b class="twitter1">Twitter</b><b class="facebook1">Facebook</b
        ><b class="connect-with-us1">Connect With Us</b
        ><b class="instagram1">Instagram</b
        ><b class="get-to-know1">Get to Know US</b
        ><b class="about-us1" id="aboutUsText">About Us</b
        ><b class="help1">Help</b><b class="payments1">Payments</b
        ><b class="faq1">FAQ</b>
      </div>
      <div class="dashboard-inner">
        <div class="rectangle-parent4">
          <button class="group-child11" id="cart1" ><b>Cart</b></button>>
            <button class="group-child12" id="myacc1"><b>MyAccount</b></button>
            <!-- <div class="logout">LogOut</div> -->
          <!-- <div class="my-account">My Account</div> -->
          <button class="group-child13" id="log3"><b>Logout</b></button>
          <!-- <div class="cart">Cart</div> -->
        </div>
      </div>
      <div class="instance-parent">
        <form class="example" method="POST">
          <input class="what-are-you" placeholder="Search" name="search" type="text">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="great-offers-parent">
        <b class="great-offers1">Great Offers</b>
        <div class="frame-child"></div>
        <b class="products-for-you">Products For You</b>
        <div class="group-container">
          <div class="rectangle-parent5" id="groupContainer4">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent6" id="groupContainer5">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent7" id="groupContainer6">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent8" id="groupContainer7">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
        </div>
        <div class="group-parent1">
          <div class="rectangle-parent5" id="groupContainer9">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent6" id="groupContainer10">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent7" id="groupContainer11">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent8" id="groupContainer12">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
        </div>
        <div class="group-parent2">
          <div class="rectangle-parent5" id="groupContainer14">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent6" id="groupContainer15">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent7" id="groupContainer16">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
          <div class="rectangle-parent8" id="groupContainer17">
            <div class="group-child15"></div>
            <img class="group-child16" src="iphone13.jpg">
            <b class="price-xxxxxxx">Price : $xxx,xxxx</b
            ><b class="description"> Description</b>
          </div>
        </div>
        <div class="group-parent3">
          <div class="rectangle-parent17" id="groupContainer19">
            <div class="group-child39"></div>
            <img class="group-child40" src="iphone13.jpg">
            <b class="price-xxxxxxx12">Price : $xxx,xxxx</b
            ><b class="description12"> Description</b>
          </div>
          <div class="rectangle-parent18" id="groupContainer20">
            <div class="group-child39"></div>
            <img class="group-child40" src="iphone13.jpg">
            <b class="price-xxxxxxx12">Price : $xxx,xxxx</b
            ><b class="description12"> Description</b>
          </div>
          <div class="rectangle-parent19" id="groupContainer21">
            <div class="group-child39"></div>
            <img class="group-child40" src="iphone13.jpg">
            <b class="price-xxxxxxx12">Price : $xxx,xxxx</b
            ><b class="description12"> Description</b>
          </div>
          <div class="rectangle-parent20" id="groupContainer22">
            <div class="group-child39"></div>
            <img class="group-child40" src="iphone13.jpg">
            <b class="price-xxxxxxx12">Price : $xxx,xxxx</b
            ><b class="description12"> Description</b>
          </div>
        </div>
        <b class="best-selling-products">Best Selling Products</b
        ><b class="latest-products">Latest Products</b>
      </div>
    </div>

    <script>
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          window.location.href = "./log-about-us.html";
        });
      }
      
      var rectangle1 = document.getElementById("rectangle1");
      if (rectangle1) {
        rectangle1.addEventListener("click", function (e) {
          window.location.href = "./profile-page.html";
        });
      }
      
      var rectangle2 = document.getElementById("rectangle2");
      if (rectangle2) {
        rectangle2.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var rectangle3 = document.getElementById("rectangle3");
      if (rectangle3) {
        rectangle3.addEventListener("click", function (e) {
          window.location.href = "./cart.html";
        });
      }
      
      var rectangleContainer = document.getElementById("rectangleContainer");
      if (rectangleContainer) {
        rectangleContainer.addEventListener("click", function (e) {
          window.location.href = "./search-result-page.html";
        });
      }
      
      var rectangle5 = document.getElementById("rectangle5");
      if (rectangle5) {
        rectangle5.addEventListener("click", function (e) {
          window.location.href = "./search-result-page.html";
        });
      }
      
      var groupContainer4 = document.getElementById("groupContainer4");
      if (groupContainer4) {
        groupContainer4.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer6 = document.getElementById("groupContainer6");
      if (groupContainer6) {
        groupContainer6.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer7 = document.getElementById("groupContainer7");
      if (groupContainer7) {
        groupContainer7.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer9 = document.getElementById("groupContainer9");
      if (groupContainer9) {
        groupContainer9.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer10 = document.getElementById("groupContainer10");
      if (groupContainer10) {
        groupContainer10.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer11 = document.getElementById("groupContainer11");
      if (groupContainer11) {
        groupContainer11.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer12 = document.getElementById("groupContainer12");
      if (groupContainer12) {
        groupContainer12.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer14 = document.getElementById("groupContainer14");
      if (groupContainer14) {
        groupContainer14.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer15 = document.getElementById("groupContainer15");
      if (groupContainer15) {
        groupContainer15.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer16 = document.getElementById("groupContainer16");
      if (groupContainer16) {
        groupContainer16.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer17 = document.getElementById("groupContainer17");
      if (groupContainer17) {
        groupContainer17.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer19 = document.getElementById("groupContainer19");
      if (groupContainer19) {
        groupContainer19.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer20 = document.getElementById("groupContainer20");
      if (groupContainer20) {
        groupContainer20.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer21 = document.getElementById("groupContainer21");
      if (groupContainer21) {
        groupContainer21.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      
      var groupContainer22 = document.getElementById("groupContainer22");
      if (groupContainer22) {
        groupContainer22.addEventListener("click", function (e) {
          window.location.href = "./product-page.html";
        });
      }
      var cart1 = document.getElementById("cart1");
      if (cart1) {
        cart1.addEventListener("click", function (e) {
          window.location.href = "./cart.html";
        });
      }
      var myacc1 = document.getElementById("myacc1");
      if (myacc1) {
        myacc1.addEventListener("click", function (e) {
          window.location.href = "./profile-page.html";
        });
      }
      var log3 = document.getElementById("log3");
      if (log3) {
        log3.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
      }
      var ic1 = document.getElementById("ic1");
      if (ic1) {
        ic1.addEventListener("click", function (e) {
          window.location.href = "./search-result-page.html";
        });
      }
      </script>
  </body>
</html>
