<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    </head>
    
    <body>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="flash-messages">
        <div class="flash-messages-wrapper">
          <div class="flash-messages-header">
            <button class="flash-messages-close">&times;</button>
          </div>
          <div class="flash-messages-content">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %} {% endwith %}
    <nav class="navbar bg-primary navbar-expand-lg " style="background-color: rgb(40,160,640); height:100%;">
        <div class="container-fluid">
            <form method="GET">
            <button name="action" value="seller-account" class="navbar-brand"  style="color:white; background-color: transparent; border:none; font-size: 200%; padding-left: 5%;"><b>Gadget
                    World</b></a>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:white;"></span>
            </button>
            <form method="GET">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 0%;">
                
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <button class="nav-link " aria-current="page" href="#"
                                    style="color:white; font-size: 140%;" name="action" value="seller-account">Account</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link"  style="color:white; font-size:140%" name="action" value="seller-orders">Orders</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link"  style="color:white; font-size:140%" name="action" value="logout">Logout</button>
                            </li>
                    </ul>
                
            </div>
            </form>
        </div>
    </nav>
    <form method="POST">
        <div class="container-fluid"
            style=" width:40%; min-width: 230px;  margin-top: 20px;padding-top: 10px; margin-bottom: 10%; ">
            <!-- first name -->
            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <input type="text" class="form-control" id="floatingInput" placeholder="name" name="name">
                <label for="floatingInput">Product Name</label>
            </div>
            <!-- last name -->
            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <input type="text" class="form-control" id="floatingInput" placeholder="Description" name="description">
                <label for="floatingInput">Description</label>
            </div>
            <!-- email -->
            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <input type="text" class="form-control" id="floatingInput"placeholder="Picture URL"  name="photo">
                <label for="floatingInput">Picture URL</label>
            </div>

            <!-- phone number -->
            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <select class="form-select" aria-label="Default select example" name="type" style="font-size: 100%; padding-top:2%;" >
                    <option selected >Open this select menu</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Laptop">Laptop</option>
                    <option value="Television">Television</option>
                    <option value="Gaming Console">Gaming Console</option>
                    <option value="Tablet">Tablets</option>
                </select>
            </div>

            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <input type="number" class="form-control" id="floatingInput" placeholder="name"  name="quantity" >
                <label for="floatingInput">Quantity</label>
            </div>
            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <input type="text" class="form-control" id="floatingInput" placeholder="name"  name="tags" >
                <label for="floatingInput">Product Tags</label>
            </div>
            <!-- address -->
            <div class="form-floating mb-3 " style="width:90%; margin-left: 5%; ">
                <input type="text" class="form-control" id="floatingInput" placeholder="name" name="price">
                <label for="floatingInput">Price</label>
            </div>
            <!-- password -->
            <div class="form-floating  mb-3" style="width:90%;margin-left: 5%;  ">
                <button class="btn btn-primary" type="submit">Add Product</button>
            </div>
        </div>
    </form>
    <script>
        const flashMessages = document.querySelector('.flash-messages');
        const flashMessagesClose = document.querySelector('.flash-messages-close');

        if (flashMessages && flashMessagesClose) {
            flashMessagesClose.addEventListener('click', () => {
                flashMessages.classList.add('flash-messages-hidden');
                setTimeout(() => {
                    flashMessages.remove();
                }, 500);
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

</body>

</html>