<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Artifika:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Khula:wght@400&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        <div class="flash-messages-wrapper">
          <div class="flash-messages-header">
            <button class="flash-messages-close">&times;</button>
          </div>
          <div class="flash-messages-content">
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}
    <div class="cart">
      <div class="cart-child"></div>
      <div class="vector-parent">
        <img class="rectangle-icon" alt="" src="{{ url_for('static', filename='public/rectangle-46.svg') }}" />
      <form method="GET">
        <button class="group-child18" type="submit" name="FAQ" >FAQ's</button>
        <button class="group-child19" type="submit" name="cart" >Cart</button>
        <button class="group-child20" id="rectangle3" type="submit" name="action" value="My Orders" >My Orders</button>
        <button class="group-child21" id="rectangle4" type="submit" name="action" value="Logout" >Logout</button>
        <button class="group-child22" id="rectangle5" type="submit" name="action" value="dashboard">Dashboard</button>
      </form>

      </div>
      <form method="GET">
        <button class="gadget-world1" id="gw5" type="submit" name="action" value="dashboard"><b>Gadget World</b></button>
      </form>
      <div class="instance-parent">
        <form method="GET" class="example">
            <input class="what-are-you" placeholder="Search" name="search_query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="group-container">
        <div class="rectangle-parent4">
          <div class="group-child24"></div>
          <form method="GET">
            <button class="group-child25" id="rectangle9" type="submit" name="action" value="Place Order">Place Order</button>
          </form>
          <img class="group-child26" alt="" src="{{ url_for('static', filename='public/rectangle-56.svg') }}" />
        </div>
        <div class="group-wrapper">
          <div class="group-parent1">
            <form method="GET">
              {%if bound ==0 %}
              <p class="nop">There are no products in the Cart</p>
              {% endif %}
              {% for i in range(bound) %}
                <div class="rectangle-parent{{5+i}}">
                  <div class="group-child{{27}}" id="rectangle{{11+3*i}}"></div>
                  <img class="group-child{{28}}" src="{{ products[i].photo }}">
                  <div class="product-name">{{ products[i].name }}</div>
                  <div class="price-xxxxxx">Price: ₹&nbsp;{{ products[i].price }}</div>
                  <form method="GET">
                    <button class="group-child{{29}}" name="delete" value="{{ products[i].id }}" type="submit">Delete</button>
                  </form>
                </div>
              {% endfor %}
            </form>
            
          </div>
        </div>
        
        <div class="total-xxxx-container">
          <p class="total">Total:</p>
          <p class="total">₹ {{totalprice}}</p>
        </div>
      </div>
    </div>

    <script>
      const flashMessages = document.querySelector('.flash-messages');
    const flashMessagesClose = document.querySelector('.flash-messages-close');

    if (flashMessages && flashMessagesClose) {
      flashMessagesClose.addEventListener('click', () => {
        flashMessages.classList.add('flash-messages-hidden');
        setTimeout(() => {
          flashMessages.remove();
        }, 500);
      });
    }
    </script>
  </body>
</html>