
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <style>
        .banners {
            width: 90%;
            margin-left: 5%;
            /* height:995000px; */
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-messages">
        <div class="flash-messages-wrapper">
            <div class="flash-messages-header">
                <button class="flash-messages-close">&times;</button>
            </div>
            <div class="flash-messages-content">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %} {% endwith %}
    <nav class="navbar bg-primary navbar-expand-lg" style="background-color: rgb(40, 160, 640); height: 100%">
        <div class="container-fluid">
            <form method="GET">
            <button class="navbar-brand" type="submit" name="action" value="dashboard"
                style="color:white; background-color: transparent; border: none; font-size: 200%; padding-left: 10%;"><b>Gadget
                    World</b></button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white"></span>
            </button>
            <div class="container-md" style="margin-left: 4%">
                <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        style="width: 55%" name="product_name" />
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form method="GET">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="nav-link" aria-current="page" style="color: white; font-size: 140%"
                                name="action" value="myaccount" type="submit">
                                Account
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" style="color: white; font-size: 140%" name="action" value="cart"
                                type="submit">
                                Cart
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" style="color: white; font-size: 140%" name="action" value="logout"
                                type="submit">
                                Logout
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col-4">
                <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header"><b>TOTAL</b></div>
                    <div class="card-footer">
                        <p class="card-text" style="color:white;">Number of Products: {{numb}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text" style="color:white;">Total : ₹ {{totalprice}}</p>
                    </div>
                    <div class="card-footer" style="border:none;">
                        <form method="GET">
                            <button class="btn btn-success" type="submit" name="action" value="Place Order">Place
                                Order</button>
                        </form>
                    </div>

                </div>

            </div>
            <div class="col-8" style="overflow-x: hidden;overflow-y: scroll;max-height: 850px;">
                <form method="GET">
                    {%if bound ==0 %}
                    <p class="nop">There are no products in the Cart</p>
                    {% endif %}
                    {% for product in products %}
                    <div class="card mb-3" style="width:100%; border:none;margin-top: 10px;">
                        <div class="row g-1"
                            style="border:2px solid rgb(159, 156, 156); border-radius:6px; margin-bottom: 3%;">
                            <div class="col-md-4">
                                <img src="{{ product.photo }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text" style="font-size: 20px;">Price:  ₹ {{ product.price }}</p>
                                    </p>
                                </div>
                                <div class="card-footer" style="border:none; background-color: white;">
                                    <form method="GET">
                                        <button type="submit" class="btn btn-primary" name="view_product_id" value="{{ product.id }}" >View</button>
                                        <button type="submit" name="delete" value="{{ product.id }}"
                                            class="btn btn-secondary">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script>
        const flashMessages = document.querySelector(".flash-messages");
        const flashMessagesClose = document.querySelector(
            ".flash-messages-close"
        );

        if (flashMessages && flashMessagesClose) {
            flashMessagesClose.addEventListener("click", () => {
                flashMessages.classList.add("flash-messages-hidden");
                setTimeout(() => {
                    flashMessages.remove();
                }, 500);
            });
        }
    </script>
</body>