<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-page.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Artifika:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Khula:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        <div class="flash-messages-wrapper">
          <div class="flash-messages-header">
            <button class="flash-messages-close">&times;</button>
          </div>
          <div class="flash-messages-content">
            {% for category, message in messages %}
              <div class="flash-message {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endwith %}
  <div class="login-page">
    <div class="login-page-child"></div>
    <div class="gadget-world16" id="gADGETWORLDText">GADGET WORLD</div>
    <div class="rectangle-parent28">
    <form  method="POST">
      <div class="group-child166"></div>
      <div class="login3">Login</div>
      <div class="rectangle-parent29">
        <input class="group-child167" placeholder="Email" type = "email"  name="email" required >
        <!-- <div class="user-name3">User Name</div> -->
      </div>
      <div class="rectangle-parent30">
        <input class="group-child167" placeholder="Password" type="password"  name="password" required >
        <!-- <div class="password3">Password</div> -->
      </div>
      <div class="rectangle-parent31">
        <button class="group-child169" type="submit">Login</button>
        <!-- <div class="login4">Login</div> -->
    </form>
      </div>
    </div>
  </div>

    <script>
      const flashMessages = document.querySelector('.flash-messages');
    const flashMessagesClose = document.querySelector('.flash-messages-close');

    if (flashMessages && flashMessagesClose) {
      flashMessagesClose.addEventListener('click', () => {
        flashMessages.classList.add('flash-messages-hidden');
        setTimeout(() => {
          flashMessages.remove();
        }, 500);
      });
    }
      </script>
  </body>
</html>
