.gadget-world1 {
    position: absolute;
    top: 141px;
    left: calc(50% - 394px);
    cursor: pointer;
    font-family: var(--font-artifika);
    font-size: var(--font-size-13xl);
    background-color: #c7cab2;
    border: none;
    display: inline-block;
    width: 645px;
    height: 87px;
  }
  .cart-confirmation-child {
    position: absolute;
    width: 100.05%;
    top: 315.5px;
    right: -0.03%;
    left: -0.03%;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    height: 1px;
  }
  .group-child18,
  .group-child19 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: var(--br-3xs);
    color:white;
    font-size: 35px;
    font-family: var(--font-artifika);
    background-color: var(--color-gainsboro);
    height: 922px;
  }
  .group-child19 {
    width: 45.52%;
    top: 763px;
    right: 6.62%;
    left: 47.86%;
    background-color: var(--color-black);
    height: 133.07px;
    cursor: pointer;
  }
  .confirm-buy {
    position: absolute;
    width: 31.24%;
    top: 799.88px;
    left: 56.13%;
    display: inline-block;
    height: 67px;
  }
  .rectangle-icon {
    position: absolute;
    width: 36.56%;
    top: 690px;
    right: 57.01%;
    left: 6.43%;
    border-radius: var(--br-3xs);
    max-width: 100%;
    overflow: hidden;
    height: 205.55px;
  }
  .rectangle-parent4 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 922px;
    color: var(--color-white);
  }
  .group-child20,
  .group-child21 {
    position: absolute;
    top: 0;
    border-radius: var(--br-3xs);
    height: 187px;
  }
  .group-child20 {
    width: 100%;
    right: 0;
    left: 0;
    background-color: var(--color-darkgray-100);
    cursor: pointer;
  }
  .group-child21 {
    width: 26.59%;
    right: 73.34%;
    left: 0.07%;
    background-color: var(--color-gray-400);
  }
  .price-xxxxxx,
  .product-name {
    position: absolute;
    width: 56.73%;
    top: 14px;
    left: 27.97%;
    display: inline-block;
    height: 65px;
  }
  .price-xxxxxx {
    width: 24.22%;
    top: 107px;
    left: 28.5%;
    height: 45px;
  }
  .group-child22 {
    position: absolute;
    width: 18.69%;
    top: 142px;
    right: 2.26%;
    left: 79.05%;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-300);
    height: 29px;
  }
  .delete {
    position: absolute;
    width: 13.16%;
    top: 149px;
    left: 84.58%;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    display: inline-block;
    height: 15px;
  }
  .rectangle-parent5 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 187px;
  }
  .rectangle-parent6,
  .rectangle-parent7,
  .rectangle-parent8 {
    position: absolute;
    width: 100%;
    top: 690px;
    right: 0;
    left: 0;
    height: 187px;
  }
  .rectangle-parent7,
  .rectangle-parent8 {
    top: 460px;
  }
  .rectangle-parent8 {
    top: 230px;
  }
  .group-parent1,
  .group-wrapper {
    position: absolute;
    width: 92.29%;
    top: 21px;
    right: 4.87%;
    left: 2.83%;
    height: 877px;
  }
  .group-wrapper {
    width: 88.02%;
    top: 27.64px;
    right: 8.12%;
    left: 3.85%;
    height: 570.21px;
    overflow-y: auto;
    font-size: var(--font-size-xl);
  }
  .total {
    margin: 0;
  }
  .total-xxxx-container {
    position: absolute;
    width: 28.99%;
    top: 716.13px;
    left: 11.44%;
    display: inline-block;
    height: 149.77px;
  }
  .group-container {
    position: absolute;
    width: 64.8%;
    top: 404px;
    right: 20.96%;
    left: 14.23%;
    height: 922px;
    font-size: var(--font-size-26xl);
  }
  .cart-confirmation {
    position: relative;
    background-color: var(--color-silver-100);
    width: 100%;
    height: 1539px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-51xl);
    color: var(--color-black);
    font-family: var(--font-artifika);
  }
  
  .nop{
    font-size: 35px;
    font-family: var(--font-artifika);
    padding-left: 20px;
  }