.conformation-page-child {
  position: absolute;
  width: 100.06%;
  top: 269.5px;
  right: -0.03%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.gadget-world {
  position: absolute;
  top: 113px;
  left: calc(50% - 323px);
  display: inline-block;
  width: 645px;
  height: 87px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  font-family: var(--font-artifika);
  background-color: #c7cab2;
  border: none;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  height: 987px;
}
.group-inner,
.group-item {
  width: 41.48%;
  top: 34px;
  right: 52.76%;
  left: 5.76%;
  background-color: var(--color-gainsboro);
  height: 451px;
}
.group-inner {
  width: 45.77%;
  right: 3.67%;
  left: 50.56%;
  height: 222px;
}
.price {
  position: absolute;
  width: 23.92%;
  top: 543.92px;
  left: 8.89%;
  display: inline-block;
  height: 138.45px;
}
.rectangle-div {
  position: absolute;
  width: 56.74%;
  top: 752px;
  right: 34.36%;
  left: 8.9%;
  font-size: 50px;
  font-family: var(--font-artifika) ;
  border : none;
  color:white;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  height: 189.06px;
  cursor: pointer;
}
.confirm-buy {
  position: absolute;
  width: 48.64%;
  top: 816px;
  left: 22.14%;
  color: var(--color-white);
  display: inline-block;
  height: 108.67px;
}
.group-child1 {
  position: absolute;
  width: 23.85%;
  top: 534.92px;
  right: 48.49%;
  left: 27.65%;
  background-color: var(--color-gainsboro);
  height: 78.31px;
}
.xxxx {
  position: absolute;
  width: 16.99%;
  top: 555.26px;
  left: 30.27%;
  display: inline-block;
  height: 48.81px;
}
.group-child2,
.rectangle-parent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 987px;
}
.group-child2 {
  width: 40.77%;
  top: 71px;
  right: 6.83%;
  left: 52.41%;
  background-color: var(--color-gainsboro);
  height: 144px;
}
.product-name {
  position: absolute;
  width: 39.31%;
  top: 63px;
  left: 53.34%;
  display: inline-block;
  height: 152px;
}
.group-parent {
  position: absolute;
  width: 91.25%;
  top: 403px;
  right: 4.4%;
  left: 4.35%;
  height: 987px;
  font-size: var(--font-size-31xl);
}
.conformation-page {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 1539px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-artifika);
}