body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-athiti: Athiti;
  --font-artifika: Artifika;
  --font-inter: Inter;
  --font-khula: Khula;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-31xl: 50px;
  --font-size-26xl: 45px;
  --font-size-mini: 15px;
  --font-size-13xl: 32px;
  --font-size-51xl: 70px;
  --font-size-6xl: 25px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-silver-100: #c7cab2;
  --color-silver-200: #c2bdbd;
  --color-black: #000;
  --color-dimgray-100: #786969;
  --color-dimgray: #575353;
  --color-gainsboro: #d9d9d9;
  --color-white: #fff;
  --color-darkslategray: #383333;
  --color-gray-100: #908383;
  --color-gray-300: #878181;
  --color-gray-400: #79787f;
  --color-gray-200: #7c7676;
  --color-darkgray-100: #bcb0b0;
  --color-darkgray-200: #b0acac;
  --color-royalblue: #266efa;
  --color-cornflowerblue: #416cc0;
  --color-whitesmoke: #f0eeee;
  --color-rosybrown: #a48e8e;

  /* border radiuses */
  --br-3xs: 10px;
  --br-13xl: 32px;
  --br-sm: 14px;
  --br-mini: 15px;
  --br-11xl: 30px;
}

.flash-messages {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.flash-messages-wrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.flash-messages-header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.flash-messages-close {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.flash-messages-content {
  padding: 1rem;
}

.flash-message {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.flash-message.success {
  background-color: #00c853;
}

.flash-message.error {
  background-color: #f44336;
}

.flash-messages-hidden {
  display: none;
}