.group-child,
.group-item {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 40px;
  border:none;
  font-family: var(--font-artifika);
  cursor: pointer;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 83.01px;
}
.group-item {
  top: 121.69px;
}
.sign-up {
  position: absolute;
  width: 47.14%;
  top: 130.18px;
  left: 32.32%;
  display: inline-block;
  height: 49.05px;
}
.group-inner {
  position: absolute;
  width: 100%;
  top: 242.44px;
  right: 0;
  font-size: 40px;
  border:none;
  font-family: var(--font-artifika);
  cursor: pointer;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 83.01px;
}
.seller-login {
  position: absolute;
  width: 73.74%;
  top: 260.36px;
  left: 19.19%;
  display: inline-block;
  height: 49.05px;
}
.rectangle-div {
  position: absolute;
  width: 100%;
  font-size: 40px;
  border:none;
  font-family: var(--font-artifika);
  cursor: pointer;
  top: 364.13px;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 83.01px;
}
.become-a-seller,
.login {
  position: absolute;
  width: 42.42%;
  top: 17.92px;
  left: 37.04%;
  display: inline-block;
  height: 49.05px;
}
.become-a-seller {
  width: 75.08%;
  top: 373.56px;
  left: 15.15%;
}
.index-child,
.rectangle-parent {
  position: absolute;
  width: 38.98%;
  top: 386.77px;
  right: 30.18%;
  left: 30.84%;
  height: 447.14px;
}
.index-child {
  width: 118.83%;
  top: 201.5px;
  right: -11.05%;
  left: -7.77%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.gadget-world {
  position: absolute;
  width: 50%;
  top: 57px;
  left: 34.18%;
  font-size: var(--font-size-51xl);
  display: inline-block;
  height: 94px;
}
.index1 {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 1230px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-artifika);
}
