.order-tracking-child {
  position: absolute;
  width: 105.63%;
  top: 179.5px;
  right: -5.6%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 357.72px;
  height: 588px;
}
.group-child10 {
  position: absolute;
  top: 468px;
  left: 29.11px;
  border-radius: var(--br-mini);
  width: 275.09px;
  cursor: pointer;
}
.group-child10,
.group-child11,
.group-child12 {
  background-color: var(--color-silver-200);
  height: 65px;
}
.group-child11 {
  position: absolute;
  top: 45px;
  left: 29.11px;
  border-radius: var(--br-mini);
  width: 275.09px;
}
.group-child12 {
  top: 355px;
}
.group-child12,
.group-child13,
.group-child14 {
  position: absolute;
  left: 29.11px;
  border-radius: var(--br-mini);
  width: 275.09px;
}
.group-child13 {
  top: 247px;
  background-color: var(--color-silver-200);
  height: 72px;
  cursor: pointer;
}
.group-child14 {
  top: 146px;
  background-color: var(--color-dimgray);
  height: 65px;
}
.cart,
.dashboard,
.faqs,
.logout,
.my-orders {
  position: absolute;
  top: 45px;
  left: 95.77px;
  display: inline-block;
  width: 191.53px;
  height: 18px;
}
.cart,
.faqs,
.logout,
.my-orders {
  top: 158px;
  left: 94px;
  width: 193.41px;
  height: 41px;
}
.cart,
.faqs,
.logout {
  top: 259px;
  left: 93.89px;
  width: 141.77px;
  height: 37px;
}
.faqs,
.logout {
  top: 367px;
  left: 99.52px;
  width: 130.51px;
  height: 36px;
}
.logout {
  top: 475px;
  width: 92.01px;
  height: 37px;
}
.gadget-world1,
.vector-parent {
  position: absolute;
  top: 221px;
  left: 26px;
  width: 357.72px;
  height: 588px;
}
.gadget-world1 {
  width: 25.85%;
  top: 0;
  left: 0;
  display: inline-block;
  height: 55px;
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke);
}
.rectangle-wrapper {
  position: absolute;
  width: 98.48%;
  top: 0;
  right: 1.52%;
  left: 0;
  height: 53px;
  cursor: pointer;
}
.what-are-you {
  position: absolute;
  width: 77.15%;
  top: 0px;
  left: 10.52%;
  font-family: var(--font-athiti);
  border: none;
  display: inline-block;
  border-radius:  var(--br-sm) 0 0 var(--br-sm);
  height: 48px;
  font-size: 20px;
  padding-left: 20px;
}
.group-child15 {
  position: absolute;
  width: 9.15%;
  top: 0;
  font-size: 30px;
  right: 0;
  left: 90.85%;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  background-color: var(--color-royalblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  /* padding-left: 20px; */
  height: 48px;
  cursor: pointer;
}
.icon-magnifying-glass {
  position: absolute;
  width: 5.57%;
  top: 5.04px;
  right: 1.6%;
  left: 92.84%;
  max-width: 100%;
  overflow: hidden;
  height: 36.03px;
  cursor: pointer;
}
.instance-parent {
  position: absolute;
  width: 65.03%;
  top: 3px;
  right: 0;
  left: 34.97%;
  height: 53px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-200);
  font-family: var(--font-inter);
}
.gadget-world-parent {
  position: absolute;
  width: 70.05%;
  top: 76px;
  right: 20.01%;
  left: 9.94%;
  height: 56px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-artifika);
}
.group-child16,
.group-child17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
}
.group-child17 {
  height: 37.76%;
  width: 42.47%;
  top: 2.56%;
  right: 54.27%;
  bottom: 59.68%;
  left: 3.26%;
  background-color: var(--color-darkgray-100);
  cursor: pointer;
}
.group-child18 {
  position: absolute;
  height: 1.79%;
  width: 79.96%;
  top: 90.29%;
  right: 6.75%;
  bottom: 7.92%;
  left: 13.29%;
  background-color: var(--color-royalblue);
}
.ellipse-icon {
  position: absolute;
  height: 3.07%;
  width: 2.56%;
  top: 89.66%;
  right: 34.66%;
  bottom: 7.28%;
  left: 62.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child19,
.group-child20 {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkgray-100);
}
.group-child19 {
  height: 37.76%;
  width: 46.91%;
  top: 2.25%;
  right: 6.73%;
  bottom: 59.99%;
  left: 46.36%;
  cursor: pointer;
}
.group-child20 {
  height: 36.14%;
  width: 60.74%;
  top: 41.63%;
  right: 35.99%;
  bottom: 22.22%;
  left: 3.27%;
}
.group-child21,
.group-child22,
.group-child23 {
  position: absolute;
  height: 3.07%;
  width: 2.56%;
  top: 89.66%;
  right: 85.38%;
  bottom: 7.28%;
  left: 12.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child22,
.group-child23 {
  right: 5.52%;
  left: 91.92%;
}
.group-child23 {
  right: 59.41%;
  left: 38.04%;
}
.order-confirmed,
.shipped {
  position: absolute;
  height: 3.83%;
  width: 20.86%;
  top: 84.16%;
  left: 7.67%;
  font-weight: 600;
  display: inline-block;
}
.shipped {
  height: 4.6%;
  width: 8.08%;
  top: 94.51%;
  left: 35.28%;
}
.delivered,
.description,
.out-for-delivery,
.your-address {
  position: absolute;
  height: 3.96%;
  width: 18.3%;
  top: 84.04%;
  left: 55.73%;
  font-weight: 600;
  display: inline-block;
}
.delivered,
.description,
.your-address {
  height: 3.83%;
  width: 13.5%;
  top: 94.51%;
  left: 84.76%;
}
.description,
.your-address {
  height: 24.07%;
  width: 39.86%;
  top: 9.09%;
  left: 49.25%;
  font-size: var(--font-size-13xl);
}
.your-address {
  height: 23.65%;
  width: 37.33%;
  top: 48%;
  left: 6%;
}
.rectangle-parent3 {
  position: absolute;
  height: 78.24%;
  width: 72.55%;
  top: 17.32%;
  right: 5.39%;
  bottom: 4.44%;
  left: 22.06%;
  font-size: var(--font-size-xl);
}
.order-tracking {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 1232px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14{
  border: none;
  font-family: var(--font-athiti);
  font-size: 30px;
  cursor: pointer;
}
.gadget-world1{
  top:0px;
  cursor: pointer;
}
