.cart-child {
  position: absolute;
  width: 100.07%;
  top: 183.5px;
  right: -0.03%;
  left: -0.03%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.rectangle-icon {
  position: absolute;
  width: 100%;
  top: calc(50% - 323.68px);
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 647.36px;
}
.group-child18,
.group-child19,
.group-child20 {
  position: absolute;
  width: 76.9%;
  top: calc(50% + 63.51px);
  right: 14.96%;
  left: 8.14%;
  border-radius: var(--br-mini);
  background-color: var(--color-silver-200);
  height: 78.44px;
}
.group-child19,
.group-child20 {
  width: 77.43%;
  top: calc(50% - 66.82px);
  left: 7.61%;
  background-color: var(--color-dimgray);
  height: 86.88px;
}
.group-child20 {
  width: 76.9%;
  top: calc(50% - 188.69px);
  left: 8.14%;
  background-color: var(--color-silver-200);
  height: 78.44px;
  cursor: pointer;
}
.cart1,
.faqs,
.my-orders {
  position: absolute;
  width: 54.07%;
  top: calc(50% - 174.21px);
  left: 26.25%;
  display: inline-block;
  height: 49.48px;
}
.cart1,
.faqs {
  width: 45.67%;
  top: calc(50% - 52.33px);
  height: 44.65px;
}
.faqs {
  width: 36.48%;
  top: calc(50% + 77.99px);
  left: 27.82%;
  height: 43.44px;
}
.group-child21 {
  position: absolute;
  width: 76.9%;
  top: calc(50% + 182.98px);
  right: 14.96%;
  left: 8.14%;
  border-radius: var(--br-mini);
  background-color: var(--color-silver-200);
  height: 78.44px;
  cursor: pointer;
}
.logout {
  position: absolute;
  width: 25.72%;
  top: calc(50% + 191.42px);
  left: 27.82%;
  display: inline-block;
  height: 44.65px;
}
.dashboard,
.group-child22 {
  position: absolute;
  top: calc(50% - 292.47px);
}
.group-child22 {
  width: 76.9%;
  right: 14.96%;
  left: 8.14%;
  border-radius: var(--br-mini);
  background-color: var(--color-silver-200);
  height: 78.44px;
}
.dashboard {
  width: 53.54%;
  left: 26.77%;
  display: inline-block;
  height: 21.72px;
}
.vector-parent {
  position: absolute;
  width: 26.46%;
  top: calc(50% - 268.5px);
  right: 72.01%;
  left: 1.53%;
  height: 647.36px;
  font-family: var(--font-athiti);
}
.gadget-world1 {
  position: relative;
  top: 46px;
  left: 41.5%;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 500px;
  height: 55px;
  font-size: 60px;
  /* text-align: center; */
  /* padding-left: 1000px; */
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke);
}
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 328px);
  width: 646px;
  height: 53px;
  cursor: pointer;
}
.what-are-you {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  /* left: */
  width: 90%;
  padding-left: 20px;
  font-size: 30px;
  border-radius:  var(--br-sm) 0 0 var(--br-sm);
  height: 48px;
  border: none;
}
.group-child23 {
  position: absolute;
  top: 0;
  left: calc(50% + 268px);
  
  background-color: var(--color-royalblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 60px;
  height: 53px;
}
.icon-magnifying-glass {
  position: absolute;
  top: 0;
  left: calc(50% + 280px);
  width: 36.53px;
  height: 38px;
  cursor: pointer;
}
.instance-parent {
  position: absolute;
  top: 41px;
  left: calc(50% - 118px);
  width: 656px;
  height: 53px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-200);
  font-family: var(--font-inter);
}
.group-child24,
.group-child25 {
  position: absolute;
  width: 93%;
  top: 65px;
  right: 0;
  font-family: var(--font-artifika);
  color : white;
  font-size: 40px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  height: 650.83px;

}
.group-child25 {
  width: 45.52%;
  top: 644.15px;
  right: 4.48%;
  left: 50%;
  background-color: var(--color-black);
  height: 124.39px;
  cursor: pointer;
}
.place-order {
  position: absolute;
  width: 35%;
  top: 665.26px;
  left: 58.33%;
  display: inline-block;
  height: 62.19px;
}
.group-child26 {
  position: absolute;
  width: 36.56%;
  top: 576.41px;
  right: 57.92%;
  left: 5.52%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 192.14px;
}
.rectangle-parent4 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 861.83px;
  color: var(--color-white);
}
.group-child27,
.group-child28 {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  height: 187px;
}
.group-child27 {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-darkgray-100);
  cursor: pointer;
}
.group-child28 {
  width: 26.59%;
  right: 73.34%;
  left: 0.07%;
  background-color: var(--color-gray-400);
}
.price-xxxxxx,
.product-name {
  position: absolute;
  width: 56.73%;
  top: 14px;
  left: 27.97%;
  display: inline-block;
  height: 65px;
}
.price-xxxxxx {
  width: 24.22%;
  top: 107px;
  left: 28.5%;
  height: 45px;
}
.group-child29 {
  position: absolute;
  width: 15.69%;
  top: 142px;
  right: 2.26%;
  left: 79.05%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  font-size: var(--font-size-mini);
  font-family: var(--font-artifika);
  cursor: pointer;
  border: none;
  height: 29px;
}
.delete {
  position: absolute;
  width: 13.16%;
  top: 149px;
  left: 84.58%;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  display: inline-block;
  height: 15px;
}
.rectangle-parent5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 187px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  width: 100%;
  top: 690px;
  right: 0;
  left: 0;
  height: 187px;
}
.rectangle-parent7,
.rectangle-parent8 {
  top: 460px;
}
.rectangle-parent8 {
  top: 230px;
}
.group-parent1,
.group-wrapper {
  position: absolute;
  width: 92.29%;
  top: 51px;
  right: 4.87%;
  left: 2.83%;
  height: 877px;
}
.group-wrapper {
  width: 88.02%;
  top: 75.83px;
  right: 8.13%;
  left: 3.85%;
  height: 583px;
  overflow-y: auto;
  font-size: var(--font-size-xl);
}
.total {
  margin: 0;
}
.total-xxxx-container {
  position: absolute;
  width: 28.99%;
  top: 600.83px;
  left: 10.53%;
  display: inline-block;
  height: 140px;
}
.group-container {
  position: absolute;
  width: 66.67%;
  top: 280.17px;
  right: 2.5%;
  left: 30.83%;
  height: 861.83px;
  font-size: var(--font-size-26xl);
}
.cart {
  position: relative;
  background-color: var(--color-silver-100);
  width: 100%;
  height: 1235px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-artifika);
}

.group-child18,
.group-child19,
.group-child20,
.group-child21,
.group-child22{
  width : 56%;
  left : 22%;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-family: var(--font-artifika);
}
.rectangle-parent5,
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8{
  cursor: pointer;
}
form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  left:320px;
  margin-left: 94%;
  font-size: 17px;
  border:none;
  height:50px;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  /* border: 1px solid grey; */
  /* border-left: none; Prevent double borders */
  cursor: pointer;
}
form.example button:hover {
  background: #0b7dda;
}
.group-child19{
  top:140px;
}
.group-child22{
  top:265px;
}